@charset "UTF-8";

html {
    /* グラデーションの途切れ防止 */
    min-height: 100%;
}

body {
    height: 100%;
    /* グラデーション */
    background: linear-gradient(#187BD7, 70%, #E8DC48);
}

button,
input,
select,
textarea {
    font-family: inherit;
    /* ←fontスタイルを適用させるために必須 */
    font-size: 16px;
    font-weight: 200;
}

header {
    color: #fff;
    font-size: 32px;
    width: 30%;
    margin: 90px auto 60px auto;
}

header h1 {
    text-align: center;
}

header img {
    width: 150px;
}

header p {
    text-align: center;
}

#container {
    width: 320px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .2);
    padding: 30px 20px;
    color: #fff;
    border-radius: 10px;
}

#container p {
    font-size: 18px;
    text-align: center;
}

.login-title {
    margin: 10px auto 30px auto;
}

input {
    width: 100%;
    border: #707070 1px solid;
    border-radius: 5px;
    margin: 10px 0 20px 0;
    font-size: 22px;
}

a {
    color: #fff;
    font-size: 16px;
}

.btn {
    width: 50%;
    display: block;
    margin: 0px 0px 40px auto;
    padding: 10px 20px;
}

.btn a {
    text-decoration: none;
}

.btn a:hover {
    color: #fff;
}

.input {
    font-size: 16px;
    font-weight: 300;
    line-height: 37px;
}

::placeholder {
    color: #6C6C6C#6C6C6C;
    font-family: inherit;
    /* ←fontスタイルを適用させるために必須 */
    font-size: 16px;
    font-weight: 200;
}

#clear p {
    line-height: 2rem;
}

#clear .login-title {
    font-weight: bold;
}

#clear .btn {
    width: 60%;
    margin: 40px auto 10px auto;
}
