@charset "utf-8";

html {}

body {}

#row {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
    /* ←fontスタイルを適用させるために必須 */
    font-size: 16px;
    font-weight: 200;
}

.btn {
    border-radius: 6px;
    padding: 7px 20px;
    font-size: 13px;
    color: #fff;
}


/* header */
header {
    background: #186AC9;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    position: relative;
}

#head {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    align-items: center;
    height: 100%;
    position: relative;
}

.site-logo {
    display: block;
    width: 35%;
}

.accordion {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
}

.menu {
    cursor: pointer;
    height: 90px;
    line-height: 90px;
}

.menu-box {
    display: flex;
}

.menu-box p {
    font-size: 20px;
    height: 90px;
    vertical-align: center;
}

.accordion-arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-left: 20px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    transition: .5s;
}

.accordion-arrow.active {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-left: 20px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(135deg);
    transition: .5s;
}

.accordion-icon {
    margin: 15px 35px 15px 10px;
    height: 60px;
    width: auto;
}

.accordion ul {
    margin: 0;
    background: #fff;
    max-height: 0;
    overflow: hidden;
    border: #fff solid 0px;
    transition: all .8s;
    width: 19.8vw;
    margin-left: auto;
}

.accordion.open ul {
    max-height: 300px;
    border: #00297E solid 1px;
    border-top: 0px;
    transition: all .8s;
    width: 19.8vw;
    margin-left: auto;
}

.accordion li {
    color: #C1C1C1;
}

.accordion li:hover {
    background: #00297E;
    transition: all .8s;
}

.accordion li a {
    display: block;
    color: #00297E;
    padding: 0px 60px;
    text-decoration: none;
}

.accordion li a:hover {
    color: #fff;
    transition: all .8s;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

.container {
    max-width: 100%;
    padding: 0;
}

/* side bar */
#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    font-size: 16px;
}

.sidebar-btn {
    text-align: right;
}

#side-bar .btn {
    width: 55%;
    margin: 0px 0px 40px auto;
}

#side-bar .search-btn {
    display: block;
    width: 50%;
    margin: 30px auto 0 auto;
}

.btn a:hover {
    color: #fff;
}

#confirm {
    border-bottom: 1px solid #727272;
}

.username {
    margin: 30px 0 10px 20px;
}

.count {
    display: inline-block;
    margin: 20px;
}

.post .btn {
    margin: auto 0 0 0;
    overflow: hidden;
    background-color: transparent;
    /* ↑背景色透明 */
    border: none;
}

.post {
    display: flex;
    justify-content: center;
    max-width: 1040px;
    margin: 30px auto;
}


.user-icon a {
    display: block;
}

.user-icon img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.form-btn img {
    width: 80px;
    margin-right: 10px;
}

.form-group {
    width: 70%;
}

.form-group form textarea {
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    margin-top: 10px;
    font-weight: 300;
}

::placeholder {
    color: #E3E3E3;
    font-family: inherit;
    /* ←fontスタイルを適用させるために必須 */
    font-size: 16px;
    font-weight: 200;
}

.form-btn {
    margin: 40px 0 0 0;
}

table {
    width: 100%;
}

.content {
    border-top: 6px solid #E0E0E0;
}

.content li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C1C1C1;
    padding: 20px 40px 20px 120px;
    font-size: 13px;
    font-weight: 300;
}

li a img {
    height: 30px;
}

.posts-main {
    width: 80%;
    padding-top: 5px;
}

.posts-username {
    font-size: 15px;
    margin-bottom: 20px;
}

.created-at div {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

/* table tbody tr {
    width: 240px;
    height: 240px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    grid-auto-flow: column;
}

table tbody tr td {
    display: grid;
    place-items: center;
}

table tbody tr td:first-child {
    background: pink;
} */

/* 更新用フォーム */

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border-radius: 10px;
}


.js-modal form {
    text-align: right;
}

.js-modal textarea {
    width: 100%;
    resize: none;
    outline: none;
    margin: 10px 0 20px 0;
    font-weight: 300;
}

/* ユーザー検索 */

.search-content {
    display: flex;
    margin: 50px 0 50px 50px;
    justify-content: space-between;
}

.search-form-group form {
    display: flex;
}

.search-form {
    width: 100%;
    border: #707070 1px solid;
    border-radius: 2px;
    font-size: 22px;
    padding: 5px 10px;
}

.search-content .btn {
    margin: 0 20px;
    font-size: 20px;
    padding: 0px 12px;
}

.search-result {
    font-size: 22px;
    margin: auto;
}

.search-result a {
    margin-left: 20px;
}

.search-wrapper {
    width: 50%;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.search-wrapper .user-name {
    margin-left: 20px;
    font-size: 20px;
}

.search-wrapper .btn {
    margin-left: auto;
}

#search .content {
    padding: 20px 0;
}

#search .content li {
    border: none;
}

#search .content li .btn-primary {
    background-color: #51ACFF;
    border-color: #51ACFF;
}

#search .content li .btn-danger {
    background-color: #ED3933;
    border-color: #ED3933;
}

/* フォローリスト/フォロワーリスト */

#follow-list-images {
    display: flex;
    width: 80%;
    margin: 30px auto;
}

#follow-list-images h1 {
    width: 20%;
    font-size: 26px;
}

.follow-images {
    display: flex;
}

#follow-list-images li {
    margin: 0 0 10px 10px;
}

#follow-list-images li a img {
    width: 50px;
    height: auto;
}

/* プロフィールページ */

.profile {
    display: flex;
    margin: 40px 20px 0px 110px;
}

.profile-content-wrapper {
    width: 100%;
}

.profile-content {
    width: 70%;
    display: flex;
    margin: 10px auto 30px 20px;
    font-size: 18px;
}

.profile-content-title {
    width: 35%;
}

.profile .follow-btn {
    width: 30%;
    margin-top: auto;
    margin-bottom: 20px;
}

/* プロフィール編集ページ */

.my-profile-wrapper {
    width: 70%;
    display: flex;
    margin: 60px auto;
    font-size: 20px;
}

.my-profile-wrapper label {
    display: inline-block;
    width: 30%;
    margin: 15px 30px 50px 30px;
}

.my-profile-wrapper .input,
#password,
#password_confirmation {
    display: inline-block;
    width: 55%;
    font-size: 20px;
    background-color: #EFEFEF;
    border: #B8B8B8 1px solid;
    padding: 5px;
}

.my-profile-wrapper #images {
    display: inline-block;
    width: 55%;
    font-size: 20px;
    background-color: #EFEFEF;
    border: #B8B8B8 1px solid;
    padding: 30px;
}

.my-profile-wrapper .btn {
    font-size: 16px;
    padding: 7px 60px;
}

.my-profile-btn {
    display: block;
    margin-top: 50px;
    text-align: center;
}
